.navbar-brand a {
  font-size: 20px !important;
}

.navbar .navbar-nav .active a {
  background: none;
  color: #fa4c29;
}

#logo {
  font-size: 30px !important;
  font-weight: bold;
}

#logo:hover {
  text-decoration: none;
  color: #ffffff;
}

.album-list-wrap {
  padding-top: 20px;
}

.detail-tag .content .tag-wrap a {
  padding: 5px 10px;
  color: #ffffff;
  background: #222222;
  display: inline-block;
  margin: 0px 5px 5px 0px;
  font-size: 12px;
  -webkit-transition: 0.3s;
}

.detail-tag .content .tag-wrap a:hover {
  background: #fa4c29;
}

.search input {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background: #222222;
  border-color: #333333;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  color: #cccccc;
}

.search input:focus {
  background: #121212;
  border-color: #333333;
  -o-box-shadow: none;
  box-shadow: none;
}

.search .input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.search .input-group-btn .btn {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background: #fa4c29;
  color: #ffffff;
}

.album-card .text .tracks {
  top: 10px;
}

.title-category {
  font-size: 22px;
  text-align: center;
  color: #fa4c29;
  font-family: "Oswald", helvetica, sans-serif;
  text-transform: uppercase;
}

.list-item {
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #333333;
  list-style-type: none;
  margin: 0;
  font-size: .72em;
  font-size: 16px;
  cursor: pointer;
}

.list-item .text {
  color: #ffffff;
}

.list-item .text::before {
  font-family: "FontAwesome";
  content: "\F001";
  display: inline-block;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  color: #ffffff;
  line-height: 22px;
  margin-right: 20px;
}

.list-item .vm-gr-megdia .media-item {
  display: inline;
  padding-left: 10px;
}

.list-item .vm-gr-megdia .loved {
  color: #fa4c29;
}

.pagination a.disabled {
  pointer-events: none;
  cursor: default;
}

.jplay-view {
  height: 0;
  background-size: cover;
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.iconRequired {
  color: #fa4c29;
}

.text-error {
  color: #fa4c29;
}

.modal .modal-dialog .modal-content .modal-header .close {
  color: #fa4c29;
  opacity: unset !important;
}

.modal .modal-dialog .modal-content .modal-header h4 {
  color: #000;
}

.modal .modal-dialog .modal-content .modal-body p {
  color: #000;
}

.modal .modal-dialog .modal-content .modal-body .btn-login {
  background: #fa4c29;
  margin-bottom: 15px;
  width: 100%;
  border: none;
  text-transform: uppercase;
}

.modal .modal-dialog .modal-content .modal-body .btn-login:hover {
  border-width: unset !important;
}

.modal .modal-dialog .modal-content .modal-body .facebook-btn {
  text-transform: uppercase;
}

#show-share {
  padding: 10px;
  background: #928181;
  color: #000000;
  border: 1px solid #cccccc;
}

.link-share a {
  display: inline-block;
  position: relative;
  background: #333333;
  border: 1px solid #444;
  color: #ffffff;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-right: 20px;
  font-size: 12px;
  transform: rotate(45deg);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.link-share a i {
  transform: rotate(-45deg);
  width: 30px;
  height: 30px;
  top: 7px;
  left: 7px;
  position: absolute;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

#notes {
  padding-left: 10px;
  color: #000;
}

#notes li {
  list-style: none;
}

#notes li h3 {
  color: #fa4c29;
}

#notes .item {
  position: relative;
  width: 100%;
  min-height: 100px;
  margin: 25px auto;
  padding: 60px 15px 15px 15px;
  background: #fff no-repeat 4px 8px;
  box-shadow: 0 1px 2px #000;
  -webkit-transform: rotate(-0.5deg);
  -moz-transform: rotate(-0.5deg);
  -o-transform: rotate(-0.5deg);
}

#notes .item:nth-child(even) {
  -webkit-transform: rotate(0.5deg);
  -moz-transform: rotate(0.5deg);
  -o-transform: rotate(0.5deg);
}

#notes .item.kiln {
  background-image: url(https://rob.kilnhg.com/Content/Images/kiln_focus.gif);
}

#notes .item p {
  text-align: center;
  text-shadow: white 1px 1px 0px;
  overflow: hidden;
}

#notes .item::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 40%;
  top: -15px;
  width: 75px;
  height: 25px;
  z-index: 2;
  background-color: rgba(243, 245, 228, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 2px #000;
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
}

#notes .item:nth-child(even)::before {
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -o-transform: rotate(6deg);
}

#notes .item h3 {
  text-transform: uppercase;
  font-weight: bold;
}

#notes .item ul {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}

#notes .item ul li {
  padding-top: 10px;
  list-style: none;
  border-bottom: 1px dotted red;
}

.rm-group-link a {
  padding-right: 10px;
  min-width: 100px;
  background-color: #fa4c29;
  border: none;
}

.rm-group-link a:hover {
  background-color: #fa4c29;
}

.rm-group-link .active {
  color: #fa4c29;
  background-color: #ffffff;
}

.rm-group-link .active:hover {
  background-color: #ffffff;
}

.banner-title .content {
  padding-bottom: 200px;
}

.contact-wrap {
  padding-top: 20px !important;
  padding-bottom: 10px;
}

.album-single-wrap {
  padding-top: 10px !important;
}

.item-song {
  padding-left: 0 !important;
}

.item-song .list-item .text {
  display: inline-block;
  width: 70%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

@media (max-width: 767px) {
  .album-list-wrap .album-card {
    width: 100% !important;
  }
}

