$width-audio-process: 70%;
#mix-player{
    background-repeat: no-repeat;
    background-size: cover;
    //-webkit-filter: blur(10px);
    //-moz-filter: blur(10px);
    //-o-filter: blur(10px);
    //-ms-filter: blur(10px);
    //filter: blur(10px);
    #jp_container_1 {
        .jp-interface {
            background-color:rgba(24, 68, 88, 0.5);

        .jp-controls{
            a {
                color: #ffffff;
                width: 16px;
                height: 16px;
                display: inline-block;
                //padding: unset !important;
                background: none !important;
                margin-left: 8px !important;
                text-indent: unset !important;
            }
        };
        .jp-progress{
            left: 120px !important;
            top: 30px !important;
            background: #ffffff;
            width: $width-audio-process !important;
            .jp-play-bar{
                background: green;
            }
        };
        .jp-volume-controls {
            left: calc(70% + 120px + 20px);
            top: 22px;
            #mix-mute, #mix-unmute{
                width: 16px;
                height: 16px;
                display: inline-block;
                background-size: 16px 16px;
                cursor: pointer;
                background-repeat: no-repeat;
            };
            .jp-volume-bar{
                margin-left: 5px;
                top: 8px;
                width: 100px;
                cursor: pointer;
                background: #ffffff;
                .jp-volume-bar-value{
                    background: green;
                }
            }
        };
        .jp-time-holder{
            width: $width-audio-process !important;
            color: #ffffff;
        }

    }
}
}
body{
    //font-family: "Times New Roman", Times, serif !important;
    font-family: Arial, sans-serif !important;
}

.song_list{
    color: #ffffff;
    padding-top: 20px;

    h2{
        text-transform: uppercase;
        padding-top: 20px;
        a{
            color: #2f7488 !important;
            text-shadow: 0 0 15px #2f7488 !important;
            text-decoration: none;
        }
    };
    ul {
        padding-left: 0px;
        li {
            ul {
                padding-left: 20px;
                li{
                    list-style: none;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    border-bottom: 1px dotted #822626;
                    a{
                        color: #ffffff;
                        text-decoration: none;
                    }
                    .song-title:hover{
                        color: green;
                    }
                    .song-listen{
                        color: #cccccc;
                        font-size: 12px;
                        opacity: .5;
                        cursor: default;
                    }
                }
            }
        }
    }

}
.mix-pagination{
    nav {
        ul {
            li {
                a {
                    background: none;
                    color: green;
                    border: 1px dotted #822626;
                    &:hover{
                        background: none;
                        color: green;
                    }
                };
                span{
                    background: none;
                }
            }
            .disabled{
                span{
                    background: none;
                    border: 1px dotted #822626;
                    color: green;
                    &:hover{
                        background: none;
                    }
                }
            }
            .active{
                span{
                    color: #ffffff;
                    background: #18698F;
                    border: 1px dotted #822626;
                }
            }
        }
    }
}


.search {
    padding-left: 10px;
    padding-top: 12px;
    input {
        height: 42px;
        border-radius: 10px 0 0 10px;
        border: 1px #822626 solid;
        //border-right: none;
        background-color: #cccccc;
        &::placeholder{
            color: #000 !important;
            opacity: 0.5;
        }
    };
    button {
        height: 42px;
        border: 1px #822626 solid;
        border-radius: 0 10px 10px 0;
        background-color: #cccccc;
        &:hover {
            background-color: #cccccc;
            border: 1px #822626 solid;
        }
    }
}

.item-header{
    padding: 10px 10px 10px 0 !important;
    border-radius: 5px;
    color: #ffffff !important;
    min-width: 100px;
    width: auto;
    margin-right: 10px;
    background: #EA57A3 !important;
    &:hover {
        //background: #EA57A3 !important;
        color: #ffffff !important;
        padding: 10px 10px 10px 0 !important;
        line-height: unset !important;
    }
}

.music-left{
    padding-right: 5px;
    min-height: 700px;
    border-right: 1px dotted #cccccc;
}

.nomination-song{
    h2{
        color: #2f7488 !important;
        text-shadow: 0 0 15px #2f7488 !important;
        text-decoration: none;
    }
    #list-song{
        .item{
            padding-right: 5px;
            padding-top: 10px;
            padding-left: unset !important;
            height: auto;
            a{
                text-decoration: none;
                color: #ffffff;
                &:hover{
                    text-decoration: none;
                    color: green;
                }
                img{
                    width: 100%;
                    height: 150px;
                }
                p{
                    padding-top: 5px;
                    font-size: 11px;
                    white-space: nowrap;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

        }

    }
}

#notes {
    padding-left: 10px;
}

#notes .item {
    position: relative;
    width: 100%;
    min-height: 100px;
    margin: 25px auto;
    padding: 60px 15px 15px 15px;
    background: #fff no-repeat 4px 8px;
    //background: #fff url(https://our.fogbugz.com/images/tbKiwiLogo.gif) no-repeat 4px 8px;
    -webkit-box-shadow: 0 2px 12px rgba(0,0,0,.5);
    -moz-box-shadow: 0 2px 12px rgba(0,0,0,.5);
    box-shadow: 0 1px 2px #000;
    -webkit-transform: rotate(-.5deg);
    -moz-transform: rotate(-.5deg);
    -o-transform: rotate(-.5deg);
}

#notes .item:nth-child(even) {
    -webkit-transform: rotate(.5deg);
    -moz-transform: rotate(.5deg);
    -o-transform: rotate(.5deg);
}

#notes .item.kiln
{
    background-image: url(https://rob.kilnhg.com/Content/Images/kiln_focus.gif);
}

#notes .item p {
    text-align: center;
    //font: normal normal normal 40px/48px 'Reenie Beanie', Helvetica, Arial, sans-serif;
    text-shadow: white 1px 1px 0px;
    overflow: hidden;
}

#notes .item::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 40%;
    top: -15px;
    width: 75px;
    height: 25px;
    z-index: 2;
    background-color: rgba(243,245,228,0.5);
    border: 2px solid rgba(255,255,255,0.5);
    -webkit-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    box-shadow: 2px 2px 2px #000;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
}

#notes .item:nth-child(even)::before {
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -o-transform: rotate(6deg);
}

#notes .item {
    h3{
        text-transform: uppercase;
        font-weight: bold;
    }
    ul {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
        li {
            padding-top: 10px;
            list-style: none;
            border-bottom: 1px dotted red;
        }
    }
}

#userUpload{
    .form-control {
        &::placeholder {
            //color: #cccccc;
            opacity: 0.5;
            color: red;
        }
    }
    label{
        color: #ffffff;
    }
}

.custom-nav-tabs{
    li {
        a {
            margin-right: 2px !important;
        }
    }
}
.tab-content{
    margin-top: 2px;
    border: 1px #9d2232 solid;
    border-radius: 0 10px 10px 10px;
    padding: 10px;
    color: #ffffff;
    table {
        tbody{
            tr {
                &:hover{
                    color: #0b0b0b;
                }
            }
        }
    }

    #approvedTable, #pendingSongs, #rejectSongs{
        img {
            width: 50px;
            height: 50px;
        }
    }
}
