
.album-card{
    .text{
        .tracks {
            top: 10px;
        }
    }
}
$colorPk: #fa4c29;
.title-category {
    font-size: 22px;
    text-align: center;
    color: $colorPk;
    font-family: "Oswald", helvetica, sans-serif;
    text-transform: uppercase;
}

.list-item {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #333333;
    list-style-type: none;
    margin: 0;
    font-size: .72em;
    font-size: 16px;
    cursor: pointer;
    .text {
        color: #ffffff;
        &::before {
            font-family: "FontAwesome";
            content: "\f001";
            display: inline-block;
            font-size: 16px;
            font-weight: 200;
            text-align: center;
            color: #ffffff;
            line-height: 22px;
            margin-right: 20px;
        }
    };
    .vm-gr-megdia{
        .media-item {
            display: inline;
            padding-left: 10px;
        }
        .loved{
            color: $colorPk;
        }
    }
}


.pagination{
    a.disabled {
        pointer-events: none;
        cursor: default;
    }
}

.jplay-view{
    height: 0;
    background-size: cover;
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.iconRequired{
    color: $colorPk;
}
.text-error{
    color: $colorPk;
}

.modal{
    .modal-dialog{
        .modal-content{
            .modal-header {
                .close{
                    color: $colorPk;
                    opacity: unset !important;
                }
                h4{
                    color: #000;
                }
            }
            .modal-body{
                p{
                    color: #000;
                };
                .btn-login {
                    background: $colorPk;
                    margin-bottom: 15px;
                    width: 100%;
                    border: none;
                    text-transform: uppercase;
                    &:hover{
                        border-width: unset !important;
                    }
                }
                .facebook-btn{
                    text-transform: uppercase;
                }
            }
            .modal-footer{

            }
        }
    }
}

#show-share{
    padding: 10px;
    background: #928181;
    color: #000000;
    border: 1px solid #cccccc;
}
